.signed-logo-icon{
    width: 218px;
    height: auto;
}
.user-profile-pic{
    display: block;
    width: 31px;
    height: 31px;
}
#signed-main-header .navbar-expand-lg .navbar-nav .nav-link,.signed-list-link, .logout-btn,.signed-header-wrapper{
    padding: 0;
}
.signed-header-wrapper{
    padding: 35px 15px;
}
.navbar-toggler, .signed-header-text-wrap{	
    padding: 0;	
    margin: 0;	
}
.navbar-toggler-icon.signed-toggle-icon {
    background: url('../assets/images/signed-hamburger-menu.png') no-repeat;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
}
.menu-close-icon{
    cursor: pointer;
    width: calc(34px - 6px);
    height: auto;
    padding: 7px;
}
#signed-main-header .signed-header-wrapper .signed-nav-items-wrap .signed-list-link {
    font-family: AvertaRegular;
    font-size: 12px;
    color: #2c2c2c;
    margin-right: 42px;
    padding: 7px 0 7px 0;
    display: block;
}
.signed-list-link:last-child{
    padding-left: 0;
}
.signed-list-link.active{
    font-family: AvertaBold;
    color: #3f9dfe;
    border-bottom: 2px solid #3f9dfe;
}
.signed-menu-header{
    color: #fff;
    font-family: AvertaExtraBold;
    font-size: 20px;
    margin-left: 11px;
}
.logout-btn{
    border: none;
    background-color: transparent;
    font-family: AvertaRegular;
}
@media screen and (min-width: 992px){
    div.user-profile-pic{
        position: relative;
    }
    .profile-dropdown-wrapper{
        position: absolute;
        border-radius: 2px;
        background-color: #ffffff;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.21);
        width: 120px;
        right: 0;
        top: calc(100% + 10px);
        z-index: 100;
        padding: 14px 0 5px;
        display: none;
    } 
    .profile-dropdown-wrapper li{
        padding: 0 20px 14px;
        font-family: AvertaBold;
        font-size: 10px;
        color: #878fa4;
    }
    .profile-dropdown-wrapper li label{
        cursor: pointer;
    }
    .profile-dropdown-wrapper li #upload-photo{
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
    .profile-dropdown-wrapper li.logout-option button{
        color: #ff4c4c;
        border: none;
        background: transparent;
        margin: 0;
        padding: 0;
    }
}
@media screen and (min-width: 1024px){
    .signed-header-wrapper{
        padding: 39px 61px;
    }
    #signed-main-header .signed-header-wrapper .signed-nav-items-wrap .signed-list-link.signin-active{
        font-family: AvertaBold;
        color: #3f9dfe;
        border-bottom: 2px solid #3f9dfe;
    }
    .signed-menu-list-items{
        display: none;
    }
}
@media screen and (max-width: 992px){
    .show-signed-menu .signed-collapse-wrapper{
        top: 0;
        bottom: 0;
    }
    .signed-collapse-wrapper{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #3f9dfe;
        transition: bottom 0.5s;
        z-index: 1000;
    }
    .signed-nav-items-wrap{
        min-height: 100vh;
        justify-content: center;
        overflow-x: hidden;
        overflow-y: auto;
    } 
    .signed-mobile-logo-wrapper{
        width: 100%;
    }
    .signed-menu-items{
        height: calc(100vh - 71px);
    }
    .signed-menu-list-items{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        padding: 40px 30px 0;
    }
    .signed-mobile-light-header-logo{
        width: 30px;
        height: auto;
    }
    .signed-nav-items-wrap{
        padding: 0 30px;
    }
    #signed-main-header .signed-header-wrapper .signed-nav-items-wrap .signed-list-link, .logout-btn{
        font-size: 38px;
        line-height: 2;
        color: #fff;
        padding: 0;
        margin: 0;
    }
    #signed-main-header .signed-header-wrapper .signed-nav-items-wrap .signed-list-link.active{
        font-family: AvertaBold;
    }
    .menu-close-icon{
        display: block;
        z-index: 1000;
    }
    #signed-main-header .signed-header-wrapper .signed-nav-items-wrap .signed-list-link.signin-active{
        font-family: AvertaExtraBold;
    }
}