/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,*:focus{
    outline: none !important;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	margin: 0 auto;
	max-width: 1440px;
    line-height: 1;
    background-image: linear-gradient(112deg, #0f1b3a, #090f23);
}
button:focus,
button:focus:active{
	box-shadow: none !important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.overflow-hidden{
    overflow: hidden;
}
* {
    -webkit-overflow-scrolling: touch;
}
/* 400 */
@font-face {
    font-family: AvertaRegular;
    src: url("assets/fonts/Averta-Regular.otf") format("opentype");
}
/* Bold */
@font-face {
    font-family: AvertaBold;
    src: url("assets/fonts/Averta-Semibold.otf") format("opentype");
}
/* 800 */
@font-face {
    font-family: AvertaExtraBold;
    src: url("assets/fonts/Averta-Bold.otf") format("opentype");
}
/* 900 */
@font-face {
    font-family: AvertaUltraBold;
    src: url("assets/fonts/Averta-ExtraBold.otf") format("opentype");
}
button{
	cursor: pointer;
}
.main-header-container{
    position: relative;
    z-index: 9;
}
#main-header{
	left: 0;
	width: 100%;
	z-index: 1;
	position: absolute;
}
.backdrop{
    top: 0;
    left: 100vw;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: fixed;
    background-color: transparent;
    transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
}
.nodes-image-wrapper{
	padding: 198px 77px 113px;
	position: relative;
	background-image: linear-gradient(138deg, #0f1b3a, #090f23);
}
.nodes-image-wrapper .node-image{
    top:  0;
    left:  0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    display:  block;
	position:  absolute;
    background: url('assets/images/home-background.png') no-repeat;
}
#faq-container + .main-footer-container{
    padding-bottom: 76px;
    margin: 0;
}  
.overflow-hidden-menu-popup{
    overflow: hidden;
}
body.modal-open {
    position: fixed;
    width: 100%;
  }
@media screen and (max-width:991px){
    .overflow-hidden-menu{
        overflow: hidden;
        position: fixed;
    }
    .main-header-container{
        padding-bottom: 10px;
    }
}
@media screen and (min-width: 1440px){
    body.modal-open{
        left: 50%;
        transform: translate(-50%, 0);
    }
}
-input[type=number]::-webkit-inner-spin-button, 	
-input[type=number]::-webkit-outer-spin-button { 	
    -webkit-appearance: none;	
    -moz-appearance: none;	
    appearance: none;	
    margin: 0; 	
}
