.dashboard-main-container {
    padding: 0 5px;
}
.dashboard-component-main-wrapper{
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 1px #c3c3c3;
    padding: 28px 0 0;
    margin-bottom: 15px;
}
.dashboard-wallet-label{
    font-size: 10px;
    color: #878fa4;
    text-transform: capitalize;
    font-family: AvertaBold;
}
.dashboard-detail-heading{
    font-size: 10px;
    text-transform: uppercase;
    color: #878fa4;
    font-family: AvertaExtraBold;
}
a:hover{
    text-decoration: none;
}
#wallet-page .favourites_component,#wallet-page .all_denarii_component,
a.canvasjs-chart-credit,
#learn_reward_component {
    display: none;
}
.dashboard-main-container.active{
    display:block!important;
}
div#main-container{
    background-color: #fff;
}
.share-details-popup{
    top: 0;
    left: -100%;
    bottom: 0;
    z-index:1000;
    width: 100%;
    height: 100vh;
    overflow: auto;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
}
.share-details-popup.active{
    left: 0;
}
@media screen and (min-width: 992px){
    .dashboard-main-container{
        position: relative;
        z-index: 10;
        padding: 0 30px 50px;
    }
    div#dashboard_recent_transactions_component{
        flex: 2;
        margin-right: 10px;
    }
    .dashboard-left-container{
        width: 70%;
        margin-right: 10px;
    }
    .dashboard-right-container{
        width: 30%;
    }
    .dashboard-main-container,#dashboard-inner-left-container,
    div#dashboard_recent_transactions_component,div#dashboard_minting_component {
        flex: 1;
    }
    div#dashboard_recent_transactions_component .dashboard-component-main-wrapper{
      max-height: 360px;
      overflow: auto;
      overflow-x: hidden;
    }
    div#main-container{
        position: relative;
    }
    .half-background-layer {
        position: absolute;
        background-color: #f5f6fa;
        top: 292px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .dashboard-component-main-wrapper{
        margin-bottom: 10px;
    }
    div#dashboard_minting_component .dashboard-component-main-wrapper{
        height: calc(100% - 10px);
    }
    #wallet-page .favourites_component,#wallet-page .all_denarii_component,
    #learn_reward_component{
        display: block;
    }
    #wallet_all_transactions_component{
        height: 100%;
    }
    #wallet_all_transactions_component .dashboard-component-main-wrapper{
        max-height: 703px;
        overflow: auto;
        overflow-x: hidden;
    }
    .dashboard-main-container.active{
        display:flex!important;
    }
    #learn-page div.detail_component{
        flex: 1;
    }
    .share-details-popup{
        width: 600px;
    }
}
.dashboard-main-container{
    display:none!important;
}
@media screen and (min-width: 992px) and (max-height: 768px){
    div.favourites_component,div.all_denarii_component{
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 1200px){
    .dashboard-main-container{
        padding: 0 45px 50px;
    }
}
input[type=number]::-webkit-inner-spin-button, 	
input[type=number]::-webkit-outer-spin-button { 	
    -webkit-appearance: none;	
    -moz-appearance: none;	
    appearance: none;	
    margin: 0; 	
}
.data-field{
    display: block;
    padding: 0;
}

input[type=tel]::-webkit-inner-spin-button, 
input[type=tel]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
body.modal-open {
    position: fixed;
    width: 100%;
}
@media screen and (min-width: 1440px){
    body.modal-open{
        left: calc(-50vw + 50%);
        right: calc(-50vw + 50%);
        transform: none;
    }
}
@media screen and (min-width: 1024px){
    .request-date-value div#ui-datepicker-div{
        left: 350px!important;
    }
}
@media screen and (max-width: 991px){
    #dashboard-page div#dashboard-right-container{
        display: table;
        width: 100%;
    }
    div#dashboard_all_denarii_component{
        display: table-header-group;
    }
}