.dashboard-component-main-wrapper.dashboard-all-denarii-main-wrapper{
    padding: 20px 15px 15px 10px;
}
.dashboard-all-denarii-main-wrapper a {
    border-radius: 3px;
    background-color: #3f9dfe;
    margin: 0 5px 10px;
    width: calc(50% - 10px);
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    line-height: 1.83;
    padding: 19px 0 16px;
    font-family: AvertaExtraBold;
}
@media screen and (min-width: 992px){
    .dashboard-component-main-wrapper.dashboard-all-denarii-main-wrapper {
        padding: 15px 15px 5px 10px;
    } 
}
@media screen and (min-width: 1024px){
    .dashboard-component-main-wrapper.dashboard-all-denarii-main-wrapper {
        padding: 18px 15px 15px 10px;
    }
}