.dashboard-minting-main-wrapper .dashboard-detail-heading{
    padding: 0 20px 27px;
}
.dashboard-minting-main-wrapper .dashboard-detail-heading a{
    color: #3f9dfe;
    text-transform: capitalize;
}
.minting-progress-status-wrap {
    padding: 16px 20px 43px;
}
.minting-progress-status{
    font-size: 14px;
    color: #333;
}
.minting-progress-bar-wrap{
    text-align: center;
    height: 97px;
}
.minting-progress-status-subtext,.minting-progress-status,.dashboard-mint-value{
    font-family: AvertaRegular;
}
.minting-progress-status-subtext{
    font-size: 12px;
    color: #a7a7a7;
}
.dashboard-mint-value-wrap {
    padding: 22px 25px 30px 30px;
    background-color: #f5f6fa;
    border-radius: 0 0 6px 6px;
}
.dashboard-mint-value {
    font-size: 26px;
    color: #121d38;
}
.minting-progress-status,.dashboard-mint-value {
    margin-bottom: 5px;
}
#minting-progress-container {
    width: 140px;
    height: 116.6px;
    margin: 0 auto;
}
#minting-progress-container svg{
    stroke-linecap: round;  
    height: 100%;
}
.progress-text{
    top: 70px!important;
    display: flex!important;
    align-items: flex-end;
    transform: translate(-50%, -17px)!important;
}
.progress-text,.progress-text span.progress-percent {
    font-size: 36px;
    font-family: AvertaBold;
    color: #333!important;
}
.progress-text span.progress-percent{
    font-size: 16px;
    margin-bottom: 5px;
}
@media screen and (min-width: 992px){
    .minting-progress-wrap{
        flex: 1;
    }
}
@media screen and (min-width: 1024px){
    .dashboard-component-main-wrapper.dashboard-minting-main-wrapper>div{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}