.keystore-denarii-modal-wrapper{
    padding: 0;
    margin-bottom: 50px;
    border: none;
}
.keystore-denarii-modal-overlay{
    height: 100vh;
    margin: 0;
}
.keystore-main-header{
    font-family: AvertaRegular;
    font-size: 28px;
    color: #0c152e;

}
.keystore-denarii-modal-innerlay{
    background-color: #ffffff;
    box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.5);
    padding: 30px 25px;
    height: 100vh;
}
.keystore-denarii-close{
    padding: 0;
    border: none;
}
.keystore-denarii-close-icon{
    width: 14px;
    height: auto;
}
.keystore-file-desc p{
    font-family: AvertaRegular;
    font-size: 10px;
    line-height: 1.8;
    color: #010101;
}
.download-btn{
    border: none;
    border-radius: 3px;
    background-color: #3f9dfe;
    font-family: AvertaExtraBold;
    padding: 17px 0; 
    font-size: 15px;
    line-height: 1.47;
    text-align: center;
    color: #ffffff;
    margin-top: 50px;
    width: 100%;
}
@media screen and (min-width: 1024px){
    .keystore-denarii-modal-overlay{
        max-width: 656.2px;
        margin: 0 auto;
    }
    .keystore-denarii-modal-innerlay{
        padding: 74px 80px;
        height: auto;
        opacity: 0.95;
        border-radius: 6px;
    }
    .keystore-denarii-modal.show{
        opacity: 0.9;
        background-color: #0a122a;
    }
    .download-btn{
        margin-top: 37px;
    }
    .keystore-denarii-modal-wrapper{
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 992px){
    .keystore-main-header{
        padding-left: 10px;
    }
    .keystore-denarii-modal-innerlay{
        border: none;
        border-radius: 0;
    }
}