div#learn-page.dashboard-main-container.active {
    display: flex!important;
}
ul.learn-item-list-wrapper {
    padding: 11px 25px 0 20px;
}
li.learn-item-list {
    padding-bottom: 16px;
    margin-bottom: 19px;
    border-bottom: solid 1px #c3c3c3;
    cursor: pointer;
}
li.learn-item-list:last-child{
    border: none;
}
h4.learn-item-heading {
    font-size: 18px;
    color: #3f9dfe;
    margin-bottom: 5px;
}
p.learn-list-description {
    font-size: 10px;
    line-height: 1.6;
    color: #878fa4;
}
p.learn-list-description,h4.learn-item-heading{
    font-family: AvertaRegular;
}
@media screen and (min-width: 992px){
    .dashboard-component-main-wrapper.learn-component-main-wrapper{
        margin: 0 5px 0 0;
        max-height: 680px;
        overflow: auto;
        overflow-x: hidden;
    }
}