.dashboard-detail-heading,.dashboard-wallet-bal-wrap{
    padding: 0 30px 28px 20px;
}
.dashboard-wallet-bal-wrap{
    padding-bottom: 40px;
}
.dashboard-wallet-amt {
    font-size: 36px;
    margin-bottom: 3px;
}
.dashboard-wallet-amt{
    font-family: AvertaBold;
}
.dashboard-wallet-amt-wrap + a >img{
    width: 38px;
    height: auto;
}
.dashboard-details-info-item {
    border-top: solid 1px #c3c3c3;
    padding: 22px 19px 24px;
    width: 50%;
}
.dashboard-details-info-item:nth-child(odd){
    border-right: solid 1px #c3c3c3;
}
.dashboard-details-info-item .dashboard-details-info-value{
    font-size: 26px;
    margin-bottom: 5px;
    font-family: AvertaRegular;
}
.dashboard-wallet-amt, .dashboard-details-info-item .dashboard-details-info-value{
    color: #121d38;
}
.dashboard-details-info-item.next-payment-date-info .dashboard-details-info-value{
    color: #d44556;
}
.dashboard-details-info-item.reputation-info .dashboard-details-info-value{
    color: #93c65c;
    word-wrap: break-word;
    word-break: break-all;
}
.dashboard-details-info-item.reputation-info .dashboard-details-info-value i{
    max-width: 26px;
    height: 26px;
}
@media screen and (max-width: 374px){
    .dashboard-details-info-item .dashboard-details-info-value{
        font-size: 20px;
    }
}
@media screen and (min-width: 992px){
    div.detail_component{
        margin-bottom: 10px;
    }
    .dashboard-details-info-wrap{
        flex: 1;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    .dashboard-details-info-item .dashboard-details-info-value{
        font-size: 20px;
    }
}